@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;

}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 2em;
}

header > h1 {
    padding-top: 50px;
    /*
    text-transform: uppercase; (todas letras maiusculas)
    */
    font-variant: small-caps;
}

header > p {
    background-color: black;
    color: white;
    padding-bottom: 50px;
    text-align: center;
    font-size: 1.6em;
    font-family: Arial, Helvetica, sans-serif;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;

}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(51, 47, 47);
    color: white;
}

section.imagem > p {
    width: 300px;
    background-color: rgba(0, 0, 0, 0.219);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding-bottom: 10px;
}